<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackme.webgis.mapper.DepartmentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.trackme.webgis.entity.DepartmentEntity" id="departmentMap">
        <result property="depid" column="depId"/>
        <result property="remark" column="remark"/>
        <result property="type" column="type"/>
        <result property="memno" column="memNo"/>
        <result property="assoman" column="assoMan"/>
        <result property="assotel" column="assoTel"/>
        <result property="businessscope" column="businessScope"/>
        <result property="region" column="region"/>
        <result property="roadpermitno" column="roadPermitNo"/>
        <result property="roadpermitword" column="roadPermitWord"/>
        <result property="updatetime" column="updateTime"/>
        <result property="parentid" column="parentId"/>
        <result property="name" column="name"/>
        <result property="deleted" column="deleted"/>
        <result property="tenantid" column="tenantId"/>
        <result property="owner" column="owner"/>
        <result property="createdate" column="createDate"/>
    </resultMap>

    <select id="selectUserDeps" resultType="com.trackme.webgis.entity.DepartmentEntity">
        SELECT
            *
        FROM
            userdepartment ud
        INNER JOIN department d ON ud.depId = d.depId
        INNER JOIN userinfo ui on ud.userId = ui.userId
        where ui.userId = #{userid}
    </select>

    <select id="selectUserDepPages" resultType="com.trackme.webgis.entity.DepartmentEntity">
       SELECT
            *
        FROM
            userdepartment ud
        INNER JOIN department d ON ud.depId = d.depId
        INNER JOIN userinfo ui on ud.userId = ui.userId
        where ui.userId = #{userid}
        limit #{page},#{limit}
    </select>


</mapper>