<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackme.webgis.mapper.Six24Mapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.trackme.webgis.entity.Six24Entity" id="six24Map">
        <result property="termno" column="termno"/>
        <result property="sinno" column="sinno"/>
        <result property="seqno" column="seqno"/>
    </resultMap>


</mapper>