<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackme.webgis.mapper.SystemconfigMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.trackme.webgis.entity.SystemconfigEntity" id="systemconfigMap">
        <result property="id" column="id"/>
        <result property="accesspointName" column="accessPoint_name"/>
        <result property="alaramWaveFlag" column="alaram_wave_flag"/>
        <result property="alarmRedoEndTime" column="alarm_redo_end_time"/>
        <result property="alarmRedoTime" column="alarm_redo_time"/>
        <result property="alarmSupervisor" column="alarm_supervisor"/>
        <result property="alarmSupervisorMail" column="alarm_supervisor_mail"/>
        <result property="alarmSupervisorTel" column="alarm_supervisor_tel"/>
        <result property="authPassword" column="auth_password"/>
        <result property="authUsername" column="auth_username"/>
        <result property="authenticationCode" column="authentication_code"/>
        <result property="autoPostQueryCmdInteval" column="auto_post_query_cmd_inteval"/>
        <result property="carDataDownTime" column="car_data_down_time"/>
        <result property="crossRegionFlag" column="cross_region_flag"/>
        <result property="googleKey1" column="google_key1"/>
        <result property="googleKey2" column="google_key2"/>
        <result property="googleUrl" column="google_url"/>
        <result property="googleVersion" column="google_version"/>
        <result property="mapabcKey1" column="mapabc_key1"/>
        <result property="mapabcKey2" column="mapabc_key2"/>
        <result property="pollingOnlineComputeTime" column="polling_online_compute_time"/>
        <result property="postQueryInterval" column="post_query_interval"/>
        <result property="systemTitle" column="system_title"/>
        <result property="updateLatlonInterval" column="update_latlon_interval"/>
        <result property="urgencyServerIp" column="urgency_server_ip"/>
        <result property="urgencyTcpPort" column="urgency_tcp_port"/>
        <result property="urgencyUdpPort" column="urgency_udp_port"/>
        <result property="yzInterfaceIp" column="yz_interface_ip"/>
        <result property="yzInterfacePort" column="yz_interface_port"/>
        <result property="yzPassword" column="yz_password"/>
        <result property="yzUserId" column="yz_user_id"/>
        <result property="regionId" column="region_id"/>
        <result property="carControlPassword" column="car_control_password"/>
        <result property="initlat" column="initLat"/>
        <result property="initlng" column="initLng"/>
        <result property="initzoomlevel" column="initZoomLevel"/>
        <result property="centerServerStatus" column="center_server_status"/>
        <result property="govSubConnectIp" column="gov_sub_connect_ip"/>
        <result property="govSubConnectPort" column="gov_sub_connect_port"/>
        <result property="govSubConnectStatus" column="gov_sub_connect_status"/>
        <result property="govermentPort" column="goverment_port"/>
        <result property="governmentAccount" column="government_account"/>
        <result property="governmentIp" column="government_ip"/>
        <result property="governmentPassword" column="government_password"/>
        <result property="govmentEncryptFlag" column="govment_encrypt_flag"/>
        <result property="govmentIa1" column="govment_ia1"/>
        <result property="govmentIc1" column="govment_ic1"/>
        <result property="govmentM1" column="govment_m1"/>
        <result property="govmentCenterId" column="govment_center_id"/>
        <result property="maptype" column="mapType"/>
        <result property="startGovmentConnect" column="start_govment_connect"/>
        <result property="staticDate" column="static_date"/>
        <result property="superiorGovStatus" column="superior_gov_status"/>
        <result property="systemFlag" column="system_flag"/>
        <result property="systemMode" column="system_mode"/>
        <result property="gpsdataDelayTime" column="gpsdata_delay_time"/>
        <result property="logoFlag" column="logo_flag"/>
        <result property="driverschoolFlag" column="driverschool_flag"/>
        <result property="driverTermType" column="driver_term_type"/>
        <result property="jsDebugFlag" column="js_debug_flag"/>
        <result property="govConnectInfo" column="gov_connect_info"/>
        <result property="smartKey" column="smart_key"/>
        <result property="popConfig" column="pop_config"/>
        <result property="g3MediaIp" column="g3_media_ip"/>
        <result property="g3MediaPort" column="g3_media_port"/>
        <result property="terminalTypes" column="terminal_types"/>
        <result property="driverLicenceValid" column="driver_licence_valid"/>
        <result property="logTermFlag" column="log_term_flag"/>
        <result property="logTermId" column="log_term_id"/>
        <result property="bathDelayTime" column="bath_delay_time"/>
        <result property="showCarCode" column="show_car_code"/>
        <result property="packageSize" column="package_size"/>
        <result property="isAll" column="is_all"/>
        <result property="groupShowAll" column="group_show_all"/>
        <result property="alarmTypes" column="alarm_types"/>
        <result property="gpsStatusTypes" column="gps_status_types"/>
        <result property="govermentPictureFtpIp" column="goverment_picture_ftp_ip"/>
        <result property="govermentPictureFtpPort" column="goverment_picture_ftp_port"/>
        <result property="taxiFlag" column="taxi_flag"/>
        <result property="deleted" column="deleted"/>
        <result property="tenantid" column="tenantId"/>
        <result property="owner" column="owner"/>
        <result property="remark" column="remark"/>
        <result property="createdate" column="createDate"/>
        <result property="maxofflinedays" column="maxOfflineDays"/>
        <result property="platformmessage" column="platformMessage"/>
        <result property="displaystatetype" column="displayStateType"/>
    </resultMap>


</mapper>