<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackme.webgis.mapper.TerminalparamMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.trackme.webgis.entity.TerminalparamEntity" id="terminalparamMap">
        <result property="paramid" column="paramId"/>
        <result property="simno" column="simNo"/>
        <result property="plateno" column="plateNo"/>
        <result property="code" column="code"/>
        <result property="value" column="value"/>
        <result property="fieldtype" column="fieldType"/>
        <result property="createdate" column="createDate"/>
        <result property="updatedate" column="updateDate"/>
        <result property="status" column="status"/>
        <result property="sn" column="sn"/>
        <result property="tenantid" column="tenantId"/>
        <result property="deleted" column="deleted"/>
        <result property="owner" column="owner"/>
        <result property="remark" column="remark"/>
        <result property="commandid" column="commandId"/>
    </resultMap>


</mapper>