<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackme.webgis.mapper.UserinfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.trackme.common.vo.UserInfoVo" id="userinfovoMap">
        <result property="userid" column="userId"/>
        <result property="name" column="name"/>
        <result property="loginname" column="loginName"/>
        <result property="password" column="password"/>
        <result property="remark" column="remark"/>
        <result property="userstate" column="userState"/>
        <result property="createdate" column="createDate"/>
        <result property="owner" column="owner"/>
        <result property="roleid" column="roleId"/>
        <result property="rolename" column="rolename"/>
    </resultMap>

    <select id="selectUserInfoParams" resultType="com.trackme.common.vo.UserInfoVo">
        select ui.userId,ui.loginName,ui.name,ui.userState,ui.createDate,r.roleId,r.name rolename,ui.owner
        FROM
        userinfo ui
        LEFT JOIN userrole ur ON ui.userId = ur.userId
        LEFT JOIN role r ON ur.roleId = r.roleId
        <where>
            ui.deleted=0
            <if test="params.loginname != null and params.loginname != ''">
                AND ui.loginName like concat(concat('%',#{params.loginname}),'%')
            </if>
            <if test="params.userstate != null and params.userstate != ''">
                AND ui.userState = #{params.userstate}
            </if>
            <if test="params.roleid != null and params.roleid != ''">
                AND r.roleId = #{params.roleid}
            </if>
        </where>
        limit #{page},#{limit}
    </select>
</mapper>