<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackme.webgis.mapper.WorkspacerecordMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.trackme.webgis.entity.WorkspacerecordEntity" id="workspacerecordMap">
        <result property="userid" column="userId"/>
        <result property="bloccount" column="bloccount"/>
        <result property="carcount" column="carcount"/>
        <result property="onlinecar" column="onlinecar"/>
        <result property="unonlinecar" column="unonlinecar"/>
        <result property="maintaindatecount" column="maintainDateCount"/>
        <result property="warrandatecount" column="warranDateCount"/>
        <result property="insuredatecount" column="insureDateCount"/>
        <result property="crosscount" column="crossCount"/>
        <result property="stopcount" column="stopCount"/>
        <result property="cartwheelcount" column="cartwheelCount"/>
        <result property="collisioncount" column="collisionCount"/>
    </resultMap>


</mapper>